<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>/</title>
    <style>
      :root {
        white-space: pre-wrap;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>M-Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for PATH, SIZE, MTIME in PATHS %}
          <td>
            <a rel="noreferrer" href="{{ path.name | e }}/">{{ PATH.name | e }}</a>
          </td>
          <td>{{ SIZE }}</td>
          <td>{{ MTIME }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </body>
</html>

