<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>/</title>
    <style>
      {% include "site.css" %}
    </style>
  </head>
  <body>
    <table>
      <a rel="noreferrer" href=".."><<<</a>
      <hr>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Size</th>
          <th>M-Time</th>
        </tr>
      </thead>
      <tbody>
        {% for NAME, TYPE, SIZE, MTIME in PATHS %}
        <tr>
          <td>
            <a rel="noreferrer" href="{{ NAME | urlencode }}">{{ NAME | e }}</a>
          </td>
          <td>{{ TYPE or "" }}</td>
          <td>{{ SIZE }}</td>
          <td>{{ MTIME }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>

